@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
  --bg: #230531;       
  --fg: #FD8083;       
  --muted: #498099;     
  --accent: #EE227D;    
  --accent-2: #30C0B7;  
  
  --card: #852467;     
  --shadow: rgba(0,0,0,.35);
}
body { margin:0; background:var(--bg); color:var(--fg); font-family: 'Press Start 2P', system-ui, sans-serif; font-size: 10px;}
canvas { display:block; width:100%; height:100dvh; }

/* Alto contraste */
body.contrast{ --bg:#000; --fg:#fff; --card:#000; --accent:#fff; --accent-2:#ddd; }


.overlay {
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background: var(--bg);
  color: var(--fg);

  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  gap: 20px; 

  z-index: 5;
  padding: 20px;
  box-sizing: border-box; 
  text-align: center; 
}

.overlay.hidden {
  display: none;
}
.overlay h1{ font-size:40px; margin:0 0 24px; text-shadow:4px 4px 0px var(--shadow); }
.row{ display:flex; gap:12px; flex-wrap:wrap; justify-content:center; }
.card {
  background: var(--card);
  padding: 16px 18px;
  border: 4px solid var(--accent-2); 
  max-width: 560px;
  width: min(92%, 560px);
}
.card h2 {
  margin: 4px 0 12px;
  font-size: 14px; 
  color: var(--muted);
}
.controls{ margin:0; padding-left:18px; line-height:1.6; }
.hint{ color:var(--muted); font-size:14px; margin-top:4px; }

.btn {
  border: 4px solid var(--accent-2); 
  padding: 10px 14px;
  font-weight: 700;
  background: var(--accent-2);
  color: #fff;
  cursor: pointer;
  font-family: 'Press Start 2P', system-ui, sans-serif; 
  font-size: 10px;

}

.btn.primary {
  background: var(--accent);
  border-color: var(--accent);
  color: var(--bg); 
}

.btn:focus {
  outline: none;
  background: var(--fg);
  color: var(--bg);
}

.btn[aria-pressed="true"] {
  background: var(--muted);
  border-color: var(--muted);
  box-shadow: none;
}

#logo {
  max-width: 80%;       /* Asegura que no sea más ancho que la pantalla */
  width: 400px;         /* Ajusta el tamaño de tu logo */
  height: auto;         /* Mantiene la proporción */
  margin-bottom: 20px;
}


#title {
  display: none; 
}

#game-ui {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
}

#game-ui.hidden {
  display: none;
}

#game-ui .btn {
  padding: 8px;
  font-size: 14px;
  line-height: 1;
}